<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.barracuda.barracudabill.mapper.BillMapper">

    <resultMap type="Bill" id="BillResult">
        <result property="id" column="id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="paymentTime" column="payment_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
        <result property="billType" column="bill_type"/>
        <result property="amount" column="amount"/>
        <result property="delFlag"      column="del_flag"       />
    </resultMap>

    <sql id="selectBillVo">
        select id,
               create_by,
               create_time,
               payment_time,
               update_by,
               update_time,
               remark,
               bill_type,
               amount,
               del_flag
        from bi_bill
    </sql>

    <select id="selectBillList" parameterType="Bill" resultMap="BillResult">
        <include refid="selectBillVo"/>
        <where>
            <if test="billType != null  and billType != ''">and bill_type = #{billType}</if>
            <if test="amount != null ">and amount = #{amount}</if>
            <if test="delFlag != null">and del_flag = #{delFlag}</if>
        </where>
    </select>

    <select id="selectBillById" parameterType="String" resultMap="BillResult">
        <include refid="selectBillVo"/>
        where id = #{id}
    </select>

    <insert id="insertBill" parameterType="Bill" useGeneratedKeys="true" keyProperty="id">
        insert into bi_bill
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="paymentTime != null">payment_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="billType != null">bill_type,</if>
            <if test="amount != null">amount,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="paymentTime != null">#{paymentTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="billType != null">#{billType},</if>
            <if test="amount != null">#{amount},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateBill" parameterType="Bill">
        update bi_bill
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="paymentTime != null">payment_time = #{paymentTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="billType != null">bill_type = #{billType},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="deleteBillById" parameterType="String">
        update
            bi_bill
        set del_flag = 1
        where id = #{id}
    </update>

    <update id="deleteBillByIds" parameterType="String">
        update bi_bill set del_flag = 1 where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="listBill" parameterType="Bill" resultMap="BillResult">
        <include refid="selectBillVo"/>
        <where>
            <if test="billType != null  and billType != ''">and bill_type = #{billType}</if>
            <if test="amount != null ">and amount = #{amount}</if>
            <if test="delFlag != null">and del_flag = #{delFlag}</if>
            <if test="params.month != null and params.year != null ">
                and MONTH(payment_time) = #{params.month} and YEAR(payment_time) = #{params.year}
            </if>
        </where>
        order by payment_time desc
    </select>
</mapper>