<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>barracuda介绍</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/style.min.css" th:href="@{/css/style.min.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content white-bg">
    <div class="row">
        <span>
            <p id="count"></p>
        </span>
    </div>
</div>
<div class="wrapper wrapper-content white-bg">
    <div class="row">
        <a class="btn btn-success" onclick="addBill()">
            <i class="fa fa-plus"></i> 记一笔
        </a>
    </div>
</div>
<template id="profileTemplate">
    <div class="col-sm-4">
        <div class="contact-box">
            <a href="profile.html">
                <div class="col-sm-4">
                    <div class="text-center">
                        <img alt="image" class="img-circle m-t-xs img-responsive" src="%IMAGE%">
                        <div class="m-t-xs font-bold">%userName%</div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <h3><strong>%userCode%</strong></h3>
                    <p><i class="fa fa-jpy"></i> %userBalance%</p>
                    <address>
                        <strong>barracuda, Inc.</strong><br>
                        E-mail: %userEmail%<br>
                        <abbr title="Phone">Tel:</abbr> %userPhone%
                    </address>
                </div>
                <div class="clearfix"></div>
            </a>
        </div>
    </div>
</template>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
<th:block th:include="include :: footer"/>
<th:block th:include="include :: bootstrap-table-custom-view-js"/>
<script th:src="@{/barracudabill/js/bill.js}"></script>
<script th:inline="javascript">
    var prefix = ctx + "barracudabill/bill";

    function addBill() {
        $.modal.openFull("添加账单", ctx + "barracudabill/bill/add");
    }

    // 获取当前月份的账单
    function listBillByMonth() {
        // 获取当前月份
        let month = new Date().getMonth() + 1;
        return bill.listBillByMonth(month);
    }

    // 获取当前月份的账单的总额
    function getCount(bills) {
        let result = 0
        for (let bill of bills) {
            result += bill.amount
        }
        return result
    }

    function initPage() {
        let bills = listBillByMonth();
        let count = getCount(bills)
        $("#count").text("本月总支出 " + count + " 元")
    }

    $(function () {
        initPage()
    })
</script>
</body>
</html>
