.fox {
  width: 470px;
  height: 335px;
  min-width: 470px;
  min-height: 335px;
}
.fox * {
  position: absolute;
}
.fox:after {
  content: '';
  display: block;
  position: absolute;
  width: 80%;
  height: 20px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.2);
  bottom: -10px;
  left: 10%;
  z-index: -1;
}

@-webkit-keyframes log {
  from, to {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(25deg);
  }
}

@keyframes log {
  from, to {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(25deg);
  }
}
@-webkit-keyframes log-inner {
  from, to {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
}
@keyframes log-inner {
  from, to {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
}
@-webkit-keyframes hind-log {
  from, to {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
@keyframes hind-log {
  from, to {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(15deg);
  }
}
@-webkit-keyframes hind-log-inner {
  from, to {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
@keyframes hind-log-inner {
  from, to {
    transform: rotate(50deg);
  }
  50% {
    transform: rotate(30deg);
  }
}
.leg-outer {
  bottom: 0;
  right: 127px;
  -webkit-animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  z-index: 1;
}
@-webkit-keyframes leg-outer {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-76px);
  }
}
@keyframes leg-outer {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-76px);
  }
}
.hind-leg-outer {
  bottom: 0;
  right: 263px;
  -webkit-animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: leg-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  z-index: 1;
}

.leg {
  bottom: 0;
  -webkit-animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes leg {
  75% {
    transform: translateY(-20px);
  }
  from, 40%, to {
    transform: translateY(0);
  }
}
@keyframes leg {
  75% {
    transform: translateY(-20px);
  }
  from, 40%, to {
    transform: translateY(0);
  }
}
.hind-leg-outer2 {
  bottom: 0;
  -webkit-animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: leg 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
}

.paw, .hind-paw {
  bottom: 100%;
  width: 10px;
  height: 12px;
  transform-origin: bottom center;
  border-radius: 5px;
  background: #000;
}
.paw:after, .hind-paw:after {
  -webkit-animation: paw 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: paw 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 200%;
  background: #000;
  border-radius: 100px;
  transform-origin: 5px center;
}
@-webkit-keyframes paw {
  10%, to {
    transform: rotate(10deg);
  }
  20%, 40% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(120deg);
  }
}
@keyframes paw {
  10%, to {
    transform: rotate(10deg);
  }
  20%, 40% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(120deg);
  }
}
.hind-paw {
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
}

.log, .hind-log {
  bottom: calc(100% - 5px);
  width: 10px;
  height: 44px;
  transform-origin: bottom center;
  transform: rotate(5deg);
  background: black;
  border-bottom-right-radius: 50% 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.log:after, .hind-log:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 75%;
  right: 0;
  background: black;
  transform-origin: right bottom;
  transform: rotate(9deg);
  border-top-right-radius: 8px;
}

.log {
  -webkit-animation: log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}

.hind-log {
  -webkit-animation: hind-log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: hind-log 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
}

.log-inner, .hind-log-inner {
  z-index: 1;
}

.log-inner {
  bottom: calc(100% - 8px);
  width: 15px;
  height: 65px;
  transform-origin: bottom center;
  -webkit-animation: log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  background-color: #E2DEE8;
  background-image: linear-gradient(to top, #000000, #000000 10px, rgba(0, 0, 0, 0) 11px, rgba(0, 0, 0, 0));
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.leg-outer + .leg-outer .log-inner, .leg-outer + .leg-outer .log-inner:after {
  background-color: #C7C3D0;
}
.leg-outer + .leg-outer .log-inner:before {
  background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #c7c3d0);
}
.log-inner:before, .log-inner:after {
  content: '';
  display: block;
  position: absolute;
}
.log-inner:before {
  right: 100%;
  background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8);
  height: 90%;
  bottom: 0;
  width: 240%;
  border-top-left-radius: 100%;
}
.log-inner:after {
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-color: #E2DEE8;
  transform-origin: bottom right;
  transform: rotate(15deg);
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 5px;
  background-image: linear-gradient(-15deg, #000000, #000000 9.5px, rgba(0, 0, 0, 0) 9.5px, rgba(0, 0, 0, 0));
}

.hind-log-inner {
  bottom: calc(100% - 7px);
  width: 15px;
  left: -1px;
  height: 80px;
  transform-origin: bottom center;
  -webkit-animation: hind-log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: hind-log-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  background-color: #E2DEE8;
  background-image: linear-gradient(to top, #000000, #000000 12px, rgba(0, 0, 0, 0) 12px, rgba(0, 0, 0, 0));
}
.hind-log-inner:before, .hind-log-inner:after {
  content: '';
  display: block;
  position: absolute;
}
.hind-log-inner:before {
  right: 100%;
  background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8);
  height: 90%;
  bottom: 0;
  width: 240%;
  border-top-left-radius: 100%;
}
.hind-log-inner:after {
  left: 100%;
  left: 100%;
  height: 100%;
  width: 34px;
  background-color: #E2DEE8;
  border-bottom-right-radius: 100% 100%;
  transform-origin: bottom left;
  transform: skewY(-38deg);
  background-image: linear-gradient(38deg, #000000, #000000 10px, rgba(0, 0, 0, 0) 10px, rgba(0, 0, 0, 0));
}
.hind-leg-outer + .hind-leg-outer .hind-log-inner:before {
  background: radial-gradient(farthest-side at bottom left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #c7c3d0);
}

.leg-outer + .leg-outer {
  z-index: 0;
}
.leg-outer + .leg-outer, .leg-outer + .leg-outer *, .leg-outer + .leg-outer *:after {
  -webkit-animation-delay: -0.45s !important;
          animation-delay: -0.45s !important;
}

.hind-paw:after {
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
}

.hind-leg-outer + .hind-leg-outer {
  z-index: 0;
}
.hind-leg-outer + .hind-leg-outer, .hind-leg-outer + .hind-leg-outer *, .hind-leg-outer + .hind-leg-outer *:after {
  -webkit-animation-delay: -0.675s;
          animation-delay: -0.675s;
}
.hind-leg-outer + .hind-leg-outer .hind-log-inner, .hind-leg-outer + .hind-leg-outer .hind-log-inner:after {
  background-color: #C7C3D0;
}

.body {
  top: 50%;
  left: 170px;
  height: 90px;
  width: 173px;
  background: #E2DEE8;
  border-top-left-radius: 25% 50%;
  border-bottom-left-radius: 25% 50%;
  border-bottom-right-radius: 25% 50%;
  transform-origin: right center;
  -webkit-animation: body 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: body 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
}
@-webkit-keyframes body {
  from, to {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}
@keyframes body {
  from, to {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}
.body:before {
  content: '';
  display: block;
  position: absolute;
  height: 50px;
  width: 50px;
  background: #E2DEE8;
  z-index: 1;
  border-top-right-radius: 10px;
  right: 3px;
  top: -3px;
  transform: rotate(15deg);
}

.head {
  position: absolute;
  height: 87px;
  width: 112px;
  bottom: 89%;
  left: 65%;
  border-top-left-radius: 40% 60%;
  border-top-right-radius: 60% 20%;
  background: #E2DEE8;
  -webkit-animation: head 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: head 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-duration: 0.45s;
          animation-duration: 0.45s;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  transform-origin: center bottom;
  z-index: 0;
  transform-style: preserve-3d;
}
@-webkit-keyframes head {
  from, to {
    transform: rotate(0);
  }
  50% {
    transform: translateY(2px) rotate(-2deg);
  }
}
@keyframes head {
  from, to {
    transform: rotate(0);
  }
  50% {
    transform: translateY(2px) rotate(-2deg);
  }
}
.head:before, .head:after {
  content: '';
  display: block;
  position: absolute;
}
.head:before {
  width: 15px;
  height: 15px;
  right: 100%;
  bottom: 9px;
  background-image: radial-gradient(ellipse farthest-side at top left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8 99.1%);
}
.head:after {
  width: 50px;
  height: 40px;
  top: calc(100% - 1px);
  left: 50%;
  background-image: radial-gradient(ellipse farthest-side at bottom right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #f0e9ec 99.1%);
}

.face {
  width: 84px;
  height: 72px;
  bottom: 0;
  right: 5px;
  background: #F0E9EC;
  border-top-left-radius: 60% 100%;
  border-top-right-radius: 40% 10%;
  z-index: 2;
  -webkit-animation: face 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: face 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes face {
  from, to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
  }
}
@keyframes face {
  from, to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-2px);
  }
}
.face:before, .face:after {
  content: '';
  display: block;
  position: absolute;
  background: black;
  -webkit-animation: eye 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: eye 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes eye {
  from, to {
    transform: rotate(-12deg);
  }
  50% {
    transform: translateX(-2px) rotate(-12deg);
  }
}
@keyframes eye {
  from, to {
    transform: rotate(-12deg);
  }
  50% {
    transform: translateX(-2px) rotate(-12deg);
  }
}
.face:before {
  height: 4px;
  width: 25px;
  border-radius: 2px;
  top: 13px;
  right: 10px;
}
.face:after {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 23px;
  right: 15px;
}

.snout {
  width: 36px;
  height: 24px;
  left: calc(100% - 5px);
  bottom: 0;
  border-bottom-right-radius: 100%;
  background-color: #F0E9EC;
  background-image: radial-gradient(circle 6px at top right, #000000, #000000 99%, rgba(0, 0, 0, 0) 99%);
  transform-origin: right;
  -webkit-animation: snout 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: snout 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes snout {
  from, to {
    transform: scale(1);
  }
  50% {
    transform: scaleX(1.05);
  }
}
@keyframes snout {
  from, to {
    transform: scale(1);
  }
  50% {
    transform: scaleX(1.05);
  }
}
.snout:before, .snout:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 100%;
  left: 5px;
  width: calc(100% - 5px);
  height: 40px;
  background-image: radial-gradient(ellipse farthest-side at top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #e2dee8 99.1%);
}
.snout:before {
  -webkit-animation: snout-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: snout-outer 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes snout-outer {
  50% {
    transform: scaleX(0.93);
  }
}
@keyframes snout-outer {
  50% {
    transform: scaleX(0.93);
  }
}
.snout:after {
  background-image: radial-gradient(ellipse farthest-side at top right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 99%, #f0e9ec 99.1%);
  left: 0;
}

.tail {
  border-radius: 50%;
  background: #E2DEE8;
  width: 1rem;
  height: 1rem;
}

.body > .tail {
  height: 20;
  width: 20;
  left: 10px;
  transform: rotate(58deg);
}
.body > .tail .tail {
  right: 100%;
  border-color: green;
  z-index: -1;
}
.body > .tail > .tail {
  height: 36px;
  width: 36px;
  top: -8px;
  -webkit-animation: tail-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  transform-origin: calc(100% + 10px);
  transform: rotate(0);
}
@-webkit-keyframes tail-2 {
  from, to {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
}
@keyframes tail-2 {
  from, to {
    transform: rotate(0);
  }
  50% {
    transform: rotate(0);
  }
}
.body > .tail > .tail:before, .body > .tail > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 26.83282px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(-16.60156deg);
}
.body > .tail > .tail:before {
  transform-origin: bottom left;
  transform: rotate(16.60156deg);
}
.body > .tail > .tail2 > .tail {
  height: 70px;
  width: 70px;
  top: -25px;
  -webkit-animation: tail2-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail2-2 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  transform-origin: calc(100% + 10px);
  transform: rotate(-30deg);
}
@-webkit-keyframes tail2-2 {
  from, to {
    transform: rotate(-33deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@keyframes tail2-2 {
  from, to {
    transform: rotate(-33deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}
.body > .tail > .tail2 > .tail:before, .body > .tail > .tail2 > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 37.41657px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail2 > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(-33.74902deg);
}
.body > .tail > .tail2 > .tail:before {
  transform-origin: bottom left;
  transform: rotate(33.74902deg);
}
.body > .tail > .tail > .tail {
  height: 93px;
  width: 93px;
  top: -28.5px;
  -webkit-animation: tail-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  transform-origin: calc(100% + 18px);
  transform: rotate(-24deg);
}
@-webkit-keyframes tail-3 {
  from, to {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-24deg);
  }
}
@keyframes tail-3 {
  from, to {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(-24deg);
  }
}
.body > .tail > .tail > .tail:before, .body > .tail > .tail > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 57.8619px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(-26.22267deg);
}
.body > .tail > .tail > .tail:before {
  transform-origin: bottom left;
  transform: rotate(26.22267deg);
}
.body > .tail > .tail2 > .tail > .tail {
  height: 120px;
  width: 120px;
  top: -25px;
  -webkit-animation: tail2-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail2-3 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -425ms;
          animation-delay: -425ms;
  background: linear-gradient(45deg, #f0e9ec 25%, rgba(0, 0, 0, 0) 25%), linear-gradient(135deg, #f0e9ec 25%, rgba(0, 0, 0, 0) 25%) 0 0, linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 66%, #f0e9ec 66%);
  background-size: 40px 40px, 40px 40px, 100%;
  background-position: center;
  background-color: #E2DEE8;
  background-repeat: repeat-y;
  transform-origin: calc(100% + 35px);
  transform: rotate(-30deg);
}
@-webkit-keyframes tail2-3 {
  from, to {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}
@keyframes tail2-3 {
  from, to {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(-30deg);
  }
}
.body > .tail > .tail2 > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 91.65151px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail2 > .tail > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(-15.25754deg);
}
.body > .tail > .tail2 > .tail > .tail:before {
  transform-origin: bottom left;
  transform: rotate(15.25754deg);
}
.body > .tail > .tail > .tail > .tail {
  height: 98px;
  width: 98px;
  top: -2.5px;
  -webkit-animation: tail-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -425ms;
          animation-delay: -425ms;
  background: #F0E9EC !important;
  transform-origin: calc(100% + 46.5px);
  transform: rotate(-17deg);
}
.body > .tail > .tail > .tail > .tail:before {
  background: linear-gradient(to right, #f0e9ec, #e2dee8) !important;
}
@-webkit-keyframes tail-4 {
  from, to {
    transform: rotate(-24deg);
  }
  50% {
    transform: rotate(-17deg);
  }
}
@keyframes tail-4 {
  from, to {
    transform: rotate(-24deg);
  }
  50% {
    transform: rotate(-17deg);
  }
}
.body > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 95.46727px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail > .tail > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(-1.50006deg);
}
.body > .tail > .tail > .tail > .tail:before {
  transform-origin: bottom left;
  transform: rotate(1.50006deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail {
  height: 50px;
  width: 50px;
  top: 35px;
  -webkit-animation: tail2-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail2-4 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  transform-origin: calc(100% + 60px);
  transform: rotate(27deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail:before {
  display: none !important;
}
.body > .tail > .tail2 > .tail > .tail > .tail, .body > .tail > .tail2 > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail:after {
  background: #F0E9EC !important;
}
@-webkit-keyframes tail2-4 {
  from, to {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(27deg);
  }
}
@keyframes tail2-4 {
  from, to {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(27deg);
  }
}
.body > .tail > .tail2 > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 77.45967px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail2 > .tail > .tail > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(24.31576deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail:before {
  transform-origin: bottom left;
  transform: rotate(-24.31576deg);
}
.body > .tail > .tail > .tail > .tail > .tail {
  height: 36px;
  width: 36px;
  top: 31px;
  -webkit-animation: tail-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  transform-origin: calc(100% + 49px);
  transform: rotate(41deg);
}
.body > .tail > .tail > .tail > .tail > .tail, .body > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail > .tail:after {
  background: #F0E9EC !important;
}
@-webkit-keyframes tail-5 {
  from, to {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(41deg);
  }
}
@keyframes tail-5 {
  from, to {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(41deg);
  }
}
.body > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 59.39697px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail > .tail > .tail > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(27.56063deg);
}
.body > .tail > .tail > .tail > .tail > .tail:before {
  transform-origin: bottom left;
  transform: rotate(-27.56063deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail {
  height: 20px;
  width: 20px;
  top: 15px;
  -webkit-animation: tail2-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail2-5 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  transform-origin: calc(100% + 25px);
  transform: rotate(23deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail, .body > .tail > .tail2 > .tail > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail > .tail:after {
  background: #F0E9EC !important;
}
@-webkit-keyframes tail2-5 {
  from, to {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(23deg);
  }
}
@keyframes tail2-5 {
  from, to {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(23deg);
  }
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 31.62278px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(25.37695deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail:before {
  transform-origin: bottom left;
  transform: rotate(-25.37695deg);
}
.body > .tail > .tail > .tail > .tail > .tail > .tail {
  height: 15px;
  width: 15px;
  top: 10.5px;
  -webkit-animation: tail-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  transform-origin: calc(100% + 18px);
  transform: rotate(10deg);
}
.body > .tail > .tail > .tail > .tail > .tail > .tail, .body > .tail > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail > .tail > .tail:after {
  background: #F0E9EC !important;
}
@-webkit-keyframes tail-6 {
  from, to {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
@keyframes tail-6 {
  from, to {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
.body > .tail > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail > .tail > .tail > .tail > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 23.2379px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail > .tail > .tail > .tail > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(24.31576deg);
}
.body > .tail > .tail > .tail > .tail > .tail > .tail:before {
  transform-origin: bottom left;
  transform: rotate(-24.31576deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail {
  height: 10px;
  width: 10px;
  top: 5px;
  -webkit-animation: tail2-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: tail2-6 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.225s;
          animation-delay: -0.225s;
  transform-origin: calc(100% + 10px);
  transform: rotate(10deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail, .body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:after {
  background: #F0E9EC !important;
}
@-webkit-keyframes tail2-6 {
  from, to {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
@keyframes tail2-6 {
  from, to {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(10deg);
  }
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:before, .body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:after {
  content: '';
  left: 50%;
  position: absolute;
  height: 50%;
  width: 14.14214px;
  display: block;
  background: #E2DEE8;
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:after {
  bottom: 0;
  transform-origin: top left;
  transform: rotate(19.47124deg);
}
.body > .tail > .tail2 > .tail > .tail > .tail > .tail > .tail:before {
  transform-origin: bottom left;
  transform: rotate(-19.47124deg);
}
.body > .tail > .tail2 {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  right: 50%;
  transform-origin: right center;
  transform: rotate(18deg);
}
.body > .tail > .tail2 .tail {
  border-color: blue;
  z-index: -1;
}

.ears {
  top: 10px;
  left: 35px;
  width: 60px;
  transform: rotateY(20deg);
  transform-origin: bottom left;
}
.ears:before {
  content: '';
  display: block;
  position: absolute;
  width: 60px;
  height: 40px;
  background: #E2DEE8;
  border-top-left-radius: 100%;
  left: -36px;
  top: -16px;
  transform: rotate(-18deg) skewX(-20deg);
}

.ear {
  width: 40px;
  height: 46px;
  bottom: 0;
  transform: skewY(-10deg);
  transform-origin: right bottom;
}
.ear:before, .ear:after {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  border-top-left-radius: 100%;
}
.ear:before {
  background: #E2DEE8;
}
.ear:after {
  background: #D5D1DC;
  width: 60%;
  right: 0;
  -webkit-animation: ear-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: ear-inner 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
  transform-origin: right;
}
@-webkit-keyframes ear-inner {
  50% {
    transform: scaleX(0.9);
  }
}
@keyframes ear-inner {
  50% {
    transform: scaleX(0.9);
  }
}
.ear:nth-child(1) {
  right: 0;
  -webkit-animation: ear-back 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
          animation: ear-back 0.9s cubic-bezier(0.445, 0, 0.55, 1) both infinite;
}
@-webkit-keyframes ear-back {
  from, to {
    transform: rotate(5deg) skewY(-10deg);
  }
  50% {
    transform: translateX(-1px) rotate(5deg) skewY(-10deg);
  }
}
@keyframes ear-back {
  from, to {
    transform: rotate(5deg) skewY(-10deg);
  }
  50% {
    transform: translateX(-1px) rotate(5deg) skewY(-10deg);
  }
}
.ear:nth-child(2) {
  left: 0;
  transform: skewY(-10deg);
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.445, 0, 0.55, 1);
  -webkit-animation: snow-x cubic-bezier(0.445, 0, 0.55, 1) 4s both alternate infinite;
          animation: snow-x cubic-bezier(0.445, 0, 0.55, 1) 4s both alternate infinite;
}
@-webkit-keyframes snow-x {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}
@keyframes snow-x {
  from {
    transform: translateX(-10%);
  }
  to {
    transform: translateX(10%);
  }
}
.fox:hover + .snow {
  opacity: 1;
}
.snow:before, .snow:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 1vmin;
  height: 1vmin;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  -webkit-animation: snow 7s linear infinite;
          animation: snow 7s linear infinite;
  box-shadow: 70.54346vw 75.01572vh rgba(255, 255, 255, 0.8), 70.54346vw 375.01572vh rgba(255, 255, 255, 0.8), 32.35944vw 297.24824vh rgba(255, 255, 255, 0.8), 32.35944vw 597.24824vh rgba(255, 255, 255, 0.8), 64.83723vw 30.40501vh rgba(255, 255, 255, 0.8), 64.83723vw 330.40501vh rgba(255, 255, 255, 0.8), 15.43561vw 127.92813vh rgba(255, 255, 255, 0.8), 15.43561vw 427.92813vh rgba(255, 255, 255, 0.8), 26.59214vw 270.30025vh rgba(255, 255, 255, 0.8), 26.59214vw 570.30025vh rgba(255, 255, 255, 0.8), 96.69306vw 151.884vh rgba(255, 255, 255, 0.8), 96.69306vw 451.884vh rgba(255, 255, 255, 0.8), 53.56513vw 223.29412vh rgba(255, 255, 255, 0.8), 53.56513vw 523.29412vh rgba(255, 255, 255, 0.8), 60.75745vw 235.0465vh rgba(255, 255, 255, 0.8), 60.75745vw 535.0465vh rgba(255, 255, 255, 0.8), 78.67124vw 107.48448vh rgba(255, 255, 255, 0.8), 78.67124vw 407.48448vh rgba(255, 255, 255, 0.8), 48.58659vw 241.80066vh rgba(255, 255, 255, 0.8), 48.58659vw 541.80066vh rgba(255, 255, 255, 0.8), 53.53515vw 243.33973vh rgba(255, 255, 255, 0.8), 53.53515vw 543.33973vh rgba(255, 255, 255, 0.8), 71.2021vw 94.6719vh rgba(255, 255, 255, 0.8), 71.2021vw 394.6719vh rgba(255, 255, 255, 0.8), 14.82009vw 239.63983vh rgba(255, 255, 255, 0.8), 14.82009vw 539.63983vh rgba(255, 255, 255, 0.8), 98.88108vw 287.80797vh rgba(255, 255, 255, 0.8), 98.88108vw 587.80797vh rgba(255, 255, 255, 0.8), 0.0976vw 103.09827vh rgba(255, 255, 255, 0.8), 0.0976vw 403.09827vh rgba(255, 255, 255, 0.8), 96.13621vw 18.81819vh rgba(255, 255, 255, 0.8), 96.13621vw 318.81819vh rgba(255, 255, 255, 0.8), 18.36487vw 224.29272vh rgba(255, 255, 255, 0.8), 18.36487vw 524.29272vh rgba(255, 255, 255, 0.8), 64.67995vw 231.76865vh rgba(255, 255, 255, 0.8), 64.67995vw 531.76865vh rgba(255, 255, 255, 0.8), 24.09996vw 277.50354vh rgba(255, 255, 255, 0.8), 24.09996vw 577.50354vh rgba(255, 255, 255, 0.8), 8.3472vw 123.55773vh rgba(255, 255, 255, 0.8), 8.3472vw 423.55773vh rgba(255, 255, 255, 0.8), 68.55417vw 40.56113vh rgba(255, 255, 255, 0.8), 68.55417vw 340.56113vh rgba(255, 255, 255, 0.8), 52.79083vw 44.8596vh rgba(255, 255, 255, 0.8), 52.79083vw 344.8596vh rgba(255, 255, 255, 0.8), 12.2279vw 262.69539vh rgba(255, 255, 255, 0.8), 12.2279vw 562.69539vh rgba(255, 255, 255, 0.8), 21.86249vw 195.92993vh rgba(255, 255, 255, 0.8), 21.86249vw 495.92993vh rgba(255, 255, 255, 0.8), 52.82798vw 172.07537vh rgba(255, 255, 255, 0.8), 52.82798vw 472.07537vh rgba(255, 255, 255, 0.8), 98.2723vw 210.22181vh rgba(255, 255, 255, 0.8), 98.2723vw 510.22181vh rgba(255, 255, 255, 0.8), 61.75816vw 242.2869vh rgba(255, 255, 255, 0.8), 61.75816vw 542.2869vh rgba(255, 255, 255, 0.8), 59.02085vw 94.88479vh rgba(255, 255, 255, 0.8), 59.02085vw 394.88479vh rgba(255, 255, 255, 0.8), 53.15386vw 4.2289vh rgba(255, 255, 255, 0.8), 53.15386vw 304.2289vh rgba(255, 255, 255, 0.8), 73.31056vw 98.62569vh rgba(255, 255, 255, 0.8), 73.31056vw 398.62569vh rgba(255, 255, 255, 0.8), 36.69011vw 200.1199vh rgba(255, 255, 255, 0.8), 36.69011vw 500.1199vh rgba(255, 255, 255, 0.8), 33.54108vw 132.2062vh rgba(255, 255, 255, 0.8), 33.54108vw 432.2062vh rgba(255, 255, 255, 0.8), 75.72622vw 30.02435vh rgba(255, 255, 255, 0.8), 75.72622vw 330.02435vh rgba(255, 255, 255, 0.8), 29.22729vw 21.93776vh rgba(255, 255, 255, 0.8), 29.22729vw 321.93776vh rgba(255, 255, 255, 0.8), 56.81583vw 38.29866vh rgba(255, 255, 255, 0.8), 56.81583vw 338.29866vh rgba(255, 255, 255, 0.8), 68.51262vw 280.42247vh rgba(255, 255, 255, 0.8), 68.51262vw 580.42247vh rgba(255, 255, 255, 0.8), 38.98246vw 249.70686vh rgba(255, 255, 255, 0.8), 38.98246vw 549.70686vh rgba(255, 255, 255, 0.8), 85.98757vw 23.81223vh rgba(255, 255, 255, 0.8), 85.98757vw 323.81223vh rgba(255, 255, 255, 0.8), 17.58349vw 170.95169vh rgba(255, 255, 255, 0.8), 17.58349vw 470.95169vh rgba(255, 255, 255, 0.8), 49.73602vw 62.02167vh rgba(255, 255, 255, 0.8), 49.73602vw 362.02167vh rgba(255, 255, 255, 0.8);
}
.snow:after {
  width: 1.1vmin;
  height: 8px;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}
@-webkit-keyframes snow {
  from {
    transform: rotate(10deg) translateY(-300vh);
  }
  to {
    transform: rotate(10deg) translateY(0);
  }
}
@keyframes snow {
  from {
    transform: rotate(10deg) translateY(-300vh);
  }
  to {
    transform: rotate(10deg) translateY(0);
  }
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #9095B9;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  position: relative;
}